.container {
  margin: 0 auto;
  width: 85%;
}

.picture {
  width: 100%;
}

.underline {
  display: inline-block;
  /* border-bottom: 3px solid #ffd700; */
  position: relative;
}

.underline::after {
  background-color: green;
  display: block;
  content: "";
  position: absolute;
  width: 124px;
  bottom: -5px;
  height: 2px;
}

.box {
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 0;
  padding: 15px 30px 15px 10px;
  width: 100%;
  box-shadow: inset 0px -1.5px #e5e5e5;
  border: 1px solid #e5e5e5;
  /* text-align: left; */
  font-family: "HiraKakuPro-W6";
}

ul {
  list-style: none;
  padding-left: 0;
}

.answer {
  /* box-sizing: border-box; */
  padding: 15px 30px 15px 10px;
  width: auto;
  background-color: #eeeeee;
  /* text-align: left; */
  font-family: "HiraKakuPro-W6";
  display: none;
}

.answer2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  margin-top: 10px;
}

.correct-line {
  border-bottom: 3px solid #287dff;
}

.incorrect-line {
  border-bottom: 3px solid #ff5028;
}

.cannotclick {
  pointer-events: none;
}

.a {
  background-color: black;
}

.answerBox {
  display: none;
}

.answerBox2 {
  display: none;
}